@import 'carbon-components/scss/globals/scss/styles.scss';
$feature-flags: (
  ui-shell: true,
);

body {
  margin: 0;
  font-family:'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
